html, body, div, span, li, ul{
    border-radius: inherit;
	padding: 0;
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
html{
	display: flex;
	align-content: center;
	justify-content: center;
	
}
body{
    display: flex;
	justify-content: center;
	flex-flow: row wrap;
	height: 100vh;
	width: 97vw;
    overflow: auto;
	box-sizing: border-box;
	background-color: #FF5050;
	font-family : sans-serif;
}
#nav-holder{
	width: 97vw;
	background-color: inherit;
	z-index: 999;
	position: fixed;
	/* box-shadow: 0px 2px 2px rgba(0,0,0,0.5); */
}
nav{
	display: flex;
    align-items: center;
	justify-content: space-between;
	flex-grow: 1;
	flex-wrap: wrap;
	box-sizing: border-box;
	border-radius: 1.5em;
	
	
	width: 97vw;
	margin-top: 1em;
	background-color:  white;
	background-clip: content-box;
}

.menu{
    display: flex;
    align-items: center;
	padding: 1em;
}
.inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu li{
	display: inline;
	height: 100%;
	padding: .5em;
	box-sizing: border-box;
    font-size: 2em;
    background-color: white;
    color: #FF5050;
    /* transition: background-color .5s, color .5s; */
}


.inner li{
	font-size: 1em;
    padding: .125em;
	font-weight: bold;
	line-height: normal;
}

.menu img{
	width: auto;
	height: 2em;
	border-radius: 50%;
	box-sizing: border-box;
}

/* .item{
    background-color: white;
	color: #FF5050;
} */

/* .hover{
    background-color: #FF5050;
    color: white;
    
} */
#main{
	display: flex;
	flex-direction: row;
	jusitfy-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 1em 0;
	box-sizing: border-box;
}
.container{
	display: flex;
	box-sizing: border-box;
	width: 100%;
	margin: 1em 0;
	flex-grow: 1;
}
.content{
	display: flex;
	width: 100%;
	justify-content: space-around;
	box-sizing: border-box;
    color: white;
	border: 1px solid white;
	background-color: #FF5050;
	border-radius: 5px;
	
	
	transition: background-color .5s, color .5s, transform .5s, margin 2s;
    
}

.content:hover{
	background-color: white;
	color: #FF5050;
    margin: 0px;
	
}
/*.content:active{
    transform: rotate(360deg);
    width: 100%;
    height: 100%;
}*/
.content span{
	margin: auto;
	overflow: hidden;
}
.large{
    font-size: 1.5em;
}
.medium{
    font-size: .9em;
}
.small{
    font-size: .8em;
}
.xsmall{
    font-size: .75em;
    display: flex;
    line-height: normal;
}
.subtitle{
    display:none;
}

.edu-con-test{
    max-width: none;
    width: 100%;
}

.edu-content-test .content{
    margin: 0;
}
.edu-con-test .subtitle{
    display: inline;
}